<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="WAR" path=".war" verb="*" modules="IsapiModule" scriptProcessor="C:\opt\tomcat\bin\isapi_redirect.dll" resourceType="Unspecified" preCondition="bitness64" />
            <add name="JAR" path=".jar" verb="*" modules="IsapiModule" scriptProcessor="C:\opt\tomcat\bin\isapi_redirect.dll" resourceType="Unspecified" preCondition="bitness64" />
        </handlers>
    </system.webServer>
</configuration>
